---
import Layout from '../../../layouts/Layout.astro';
import Back from '../../../layouts/components/Back.astro';
import { Image } from "astro:assets";

const photo_folder = import.meta.glob<{ default: ImageMetadata }>("../../../assets/img/photos/*", { eager: true });
const photos = Object.values(photo_folder).map(module => module.default);
---
<Layout title="Photos">
	<section class="grid grid-cols-4" id="photos">
		{photos.map((p) => (<Image src={p} alt="photo" loading="lazy"/>))}
	</section>
	<Back/>
</Layout>


