---
import Home from '../../layouts/Home.astro';
import { Image } from 'astro:assets';
---
<Home title="About">
	<section class="text-center">
        <!-- imood -->
        <a href="https://www.imood.com/users/mortalmutt"><img src="https://moods.imood.com/display/uname-mortalmutt/fg-FFFFFF/trans-1/imood.gif" alt="The current mood of mortalmutt at www.imood.com" border="0" class="m-auto"></a>     
        
        <!-- info -->
        <img src="" alt="">
        <p>21, he/they <br> illustrator + cs major</p>

        <!-- about links -->
        <div class="flex wrap justify-center mt-3">
            <div><a href="./gf/lock/"><img src="" alt="<3"></a></div>
            <div><a href="./photos/"><img src="" alt="my photos"></a></div>
            <div><a href="https://mortalmutt.tumblr.com/"><img src="" alt="my microblog"></a></div>
        </div>
        
    </section>
</Home>


