---
import Layout from '../../layouts/Layout.astro';
import { Image } from "astro:assets";
---
<Layout title="Music">
	<section>
		<div><a href="https://mortalmutt.bandcamp.com/" target="_blank" rel="noopener noreferrer">PURCHASE ON BANDCAMP</a></div>
	</section>
</Layout>


