---
import Layout from '../../layouts/Layout.astro';
import { Image } from "astro:assets";
---
<Layout title="Videos">
	<section>
		<div><a href="https://www.youtube.com/@mortalmutt" target="_blank" rel="noopener noreferrer">WATCH ON YOUTUBE</a></div>
	</section>
</Layout>


