---
import Layout from "../../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import gfPainting from './gf_painting.webp';
---
<Layout title="Caz's Valentine" description="My gf shrine.">
	<section class="text-center">
		<Image src={gfPainting} alt="A painting for Caz." width="500" class="m-auto"/>
		<p>
			Happy Valentines Day!
			<br><br> Being with you these past few months has been some of the best times of my life. I've never felt this way before, and you have shown me that love is possible, in a world that feels devoid of it. You are literally everything, and I cannot imagine anyone or anything better than you. There is nothing I'd change.
            <br><br> You are smart, you are hilarious, you are sexy. I love your body, and I love your mind even more so. You are one of the kindest people I've met, despite being a League Of Lesbians enjoyer <i>(and you know how those people typically are)</i>. You are admirable and I can tell you raised really well. You are patient when I am annoying, relaxed when I am hyper, and check my brattiness when it is needed.
            <br><br> You are soft with me. Being next to you quells my anxiety, and waking up next to you feels unreal. Sometimes I feel like this is all a dream, that I am meant to wake up from. And I am scared of that, because then I'd wish I could never open my eyes.
            <br><br> I dont think any amount of words could really summarize how amazing you are. But If this can convey even a fraction of that feeling, I hope you can internalize and accept it.
            <br><br> I am so glad you did not ghost me on Hinge. The alternate universe verson of me would loose their mind. Hope you like the painting I made. Look at the lil Gengar <i>(he's hard to draw)</i>.
            <br><br> ~ I love you so much! ~
		</p>      
	</section>
</Layout>

