---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
---
<Layout title="Bio">
	<section>
        <p class="text-center"> 21 ♌︎ he/they <br> artist + dev ૮◞  ◟𑁬 ∘˙˚ </p>
        <a href="https://www.imood.com/users/mortalmutt"><img src="https://moods.imood.com/display/uname-mortalmutt/fg-FFFFFF/trans-1/imood.gif" alt="The current mood of mortalmutt at www.imood.com" border="0" class="m-auto"></a>     
        <div class="flex wrap justify-center">
            <div><a href="./photos/"><img src="" alt="my photos"></a></div>
            <div><a href="./journal/"><img src="" alt="my journal"></a></div>
            <div><a href="./toys/"><img src="" alt="my toys"></a></div>
            <div><a href="./gf/lock/"><img src="" alt="<3"></a></div>
        </div>
    </section>
</Layout>


