---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Journal">
	<section class="text-left">
		<ul>
			<li><a href="/posts/6_1_26">Welcome to MMdungeon</a></li>
		</ul>
	</section>
</Layout>


