---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Blog" description="My writing.">
	<section class="text-left">
		<ol>
			<li><a href="/posts/5_20_26">Welcome to my diary</a></li>
		</ol>
	</section>
</Layout>

