---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Palestine">
	<section>
		<ul>
			<li><a href="https://chuffed.org/project/help-for-mohammed" target="_blank" rel="noopener noreferrer">Emergency Help for Mohammed</a></li>
			<li><a href="https://chuffed.org/project/123414-please-help-save-my-daughter" target="_blank" rel="noopener noreferrer">Please help save my daughter</a></li>
			<li><a href="https://chuffed.org/project/help-for-mahmoud-and-his-family" target="_blank" rel="noopener noreferrer">Help for Mahmoud and his family</a></li>
			<li><a href="https://www.paypal.com/ncp/payment/XMH9Q9PG2QPNN" target="_blank" rel="noopener noreferrer">Help Obaida Jaafar</a></li>
			<li><a href="https://chuffed.org/project/179794-help-hosam-rebuild-his-life-in-gaza" target="_blank" rel="noopener noreferrer">Help Hosam rebuild his life in Gaza</a></li>
		</ul>
	</section>
</Layout>

