---
import Home from '../../layouts/Home.astro';
---
<Home title="Blog">
	<section class="text-left">
		<ul>
			<!-- <li><a href="/posts/4_1_26">Hi, it's me</a></li> -->
			<!-- <li><a href="/posts/4_8_26">Why I blog</a></li> -->
			<!-- <li><a href="/posts/4_15_26">Digging deep, my mysteries</a></li> -->
			<!-- <li><a href="/posts/4_22_26">I got sick, but I already was</a></li> -->
			<!-- <li><a href="/posts/4_29_26">No idea for the title</a></li> -->
			<!-- <li><a href="/posts/5_6_26">I don't know</a></li> -->
			<li><a href="/posts/6_2_26">Self Interview</a></li>
		</ul>
	</section>
</Home>


