---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Blog">
	<section class="text-left">
		<ul>
			<li><a href="/posts/6_2_26">Self Interview</a></li>
		</ul>
	</section>
</Layout>


