@import "tailwindcss";

:root {
    --bg-color: #f0f0f0;
    --text-color: #333333;
    --accent-color: #007acc;
}

html {
    @apply scroll-smooth;
}
body {
    @apply bg-gray-100 text-gray-800 font-light;
}
main {
    @apply relative;
}
h1 {
    @apply text-4xl font-extrabold mb-6;
}
h2 {
    @apply text-3xl font-bold mb-4;
}
h3 {
    @apply text-2xl font-medium mb-2;
}
p {
    @apply text-base mb-1;
}
small {
    @apply text-sm text-gray-500;
}
section {
    @apply py-2;
}



.entry {
    @apply mb-4 p-4 border shadow;
}
.entry_title {
    @apply mb-2 flex items-center justify-between;
}
.entry_date {
    @apply text-sm text-gray-500;
}
.entry_content {
    @apply text-base;
}