---
import Layout from '../layouts/Layout.astro';
---
<Layout title="404">
	<section class="text-center center">
		<p>The page you requested is missing.</p>
		<p> <a href="/">Home</a> </p>
	</section>
</Layout>

<style>
	body {
		height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
</style>