---
import Layout from '../layouts/Layout.astro';
---
<Layout title="404">
	<section class="text-center center">
		<p>The page you requested is missing.</p>
		<p> <a href="/">Home</a> </p>
	</section>
</Layout>

