---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<p>I'm <strong>Maya</strong>. <3 </p>
		<p>I really like the dark. </p>
	</section>
</Layout>


