---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<p> <strong>MAYA</strong> <small>('04, he/they)</small> </p>
		<p>I make cute things.</p>
	</section>
</Layout>


