---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the artist, Mtchtmy.">
	<h2>About</h2>
	<section>
		<p>21, they/them</p>
		<p>I like to draw fashionable and stylish girls.</p>
	</section>
</Layout>

