---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the artist, Mtchtmy.">
	<h2>About</h2>
	<section>
		<p><small>↑ scorprio | ☼ leo | ☽ libra</small></p>
		<p>I'm Mtchtmy or Mymy (he \ they) ~ <i class="fas fa-star"></i> <small></small></p>
		<p>I am a 21 year old enby artist and programmer on the west coast. <br> I draw fashionable girls and produce girly beats inspired by the ethereal and material. <br> I like pure black and shiny things.</p>
	</section>
	<section>
		<p><b>Contact:</b> <a href="mailto:contact@mmdungeon.xyz">contact@mmdungeon.xyz</a></p>
	</section>
</Layout>

