---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<a href="https://www.imood.com/users/madmadmaya"><img src="https://moods.imood.com/display/uname-madmadmaya/fg-dcd8d2/trans-1/imood.gif" alt="The current mood of madmadmaya at www.imood.com"></a>
		<p>I'm Maya ~ <i class="fas fa-star"></i> <small>('04, he/they)</small></p>
		<p>West coast, magickal ecchi artist.</p>
	</section>
	<section>
		<!-- <div id="statuscafe" class="text-dim">
			<div id="statuscafe-username"></div>
			<div id="statuscafe-content"></div>
			<script src="https://status.cafe/current-status.js?name=madmadmaya" defer></script>
		</div> -->
	</section>
</Layout>


