---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<p>
			<small>↑ scorprio | ☼ leo | ☽ libra</small>
			<br> Amaya
			<br> 21, they/he
			<br> West coast artist & programmer ~ <i class="fas fa-star"></i>
			<br> I enjoy making cute things.
		</p>
	</section>
</Layout>


