---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<p> <strong>MAYA</strong> <small>('04, they/them)</small> </p>
		<p>West coast artist and programmer ~<i class="fas fa-star"></i></p>
	</section>
</Layout>


