---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<!-- imood start -->
		<a href="https://www.imood.com/users/madmadmaya"><img src="https://moods.imood.com/display/uname-madmadmaya/fg-dcd8d2/trans-1/imood.gif" alt="The current mood of madmadmaya at www.imood.com"></a>
		<!-- imood end -->
		<p>I'm Maya ~ <i class="fas fa-heart"></i></p>
		<p>I blog & make cute, magickal art.</p>
	</section>
</Layout>


