---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the artist, Mtchtmy." sprite='/sprites/index.png'>
	<img src="a picture of Mtchtmy" alt="" class="aboutPic">
	<section>
		<p>
			<small>↑ scorprio | ☼ leo | ☽ libra</small>
			<br> I'm Mtchtmy or Mymy (he \ they) ~ <i class="fas fa-star"></i>
			<br> I am a 21 year old enby artist and programmer on the west coast. 
			<br> I draw fashionable juujin and produce girly beats inspired by the ethereal and material. <br> I like pure black and shiny things.
			<br><br> <b>Contact:</b> <a href="mailto:contact@mmdungeon.xyz">contact@mmdungeon.xyz</a>
		</p>
	</section>
</Layout>


