---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<p>
			<small>↑ scorprio | ☼ leo | ☽ libra</small>
			<br> Maya (21, he\they)</i>
			<br> West coast artist & programmer ~ <i class="fas fa-star"></i>
			<br> <a href="mailto:mayasdungeon@protonmail.com">contact@mayasdungeon.com</a>
		</p>
	</section>
</Layout>


