---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About" description="About the webmaster.">
	<section>
		<p>I'm Maya ~ <i class="fas fa-heart"></i></p>
		<p>I blog & make cute, magickal art.</p>
	</section>
</Layout>


