---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---
<Layout title="About" description="About the webmaster.">
    <!-- info -->
	<section>
        <!-- image -->
        <img src="" alt="">
        <a href="https://www.imood.com/users/mortalmutt"><img src="https://moods.imood.com/display/uname-mortalmutt/fg-FFFFFF/trans-1/imood.gif" alt="The current mood of mortalmutt at www.imood.com" border="0" class="m-auto"></a>
        <p> 21 ★ he/they <br> artist + dev ૮◞  ◟𑁬∘˙˚ bass lover </p>
        
        <!-- my stuff -->
        <div class="flex flex-wrap gap-2 justify-center items-center">
			<div><a href="/secret/gf/lock/"><img src="" alt="i <3 my gf"></a></div>
		</div>
    </section>
    <!-- characters -->
    <!-- <section>
        <div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
        </div>
    </section> -->
</Layout>


