---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Blog" description="My diary and news.">
	<section class="text-right">
		<ol>
			<li><a href="/posts/4_29_26">No idea for the title</a></li>
			<li><a href="/posts/4_22_26">I got sick, but I already was</a></li>
			<li><a href="/posts/4_15_26">Digging deep, my mysteries</a></li>
			<li><a href="/posts/4_8_26">Why I blog</a></li>
			<li><a href="/posts/4_1_26">Hi, it's me</a></li>
		</ol>
	</section>
</Layout>

