---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Blog" description="Mtchtmy's diary and news.">
	<section>
		<ol class="list-decimal">
			<li><a href="/posts/2_6_26">Hi</a></li>
			<li><a href="/posts/3_2_26">I want to restart</a></li>
		</ol>
	</section>
</Layout>

