---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Blog" description="Mtchtmy's diary and news." sprite='/sprites/index.png'>
	<section>
		<ol class="list-decimal">
			<li><a href="/posts/2_6_26">Welcome, extended</a></li>
			<li><a href="/posts/2_13_26">Progress and VD</a></li>
		</ol>
	</section>
</Layout>

