---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Blog" description="My diary and news.">
	<section>
		<ol class="list-decimal">
			<li><a href="/posts/4_1_26">Hi, it's me</a></li>
		</ol>
	</section>
</Layout>

