---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Blog" description="Mtchtmy's diary and news.">
	<h2>Blog</h2>
	<div class="entry">
		<div class="entry_title">
			<h3 class="entry_title">Welcome, extended</h3>
			<small class="entry_date">February 6, 2026</small>
		</div>
		<div class="entry_content">
			<p>Welcome to the blog section of my webpage, a place to journal my thoughts and ideas without the stressful reach of social media. I have always felt lighter after writing my feeings, and I intend to do that more often with this weblog.</p>
			<br><p>Mtchtmy is the vowel-less version of the word 'matchet', an old spelling for the word matchete, and my name combined. I've had many names before this from my time on the internet as a child and teenager, but this is the one I've decided on in my adulthood, because I enjoy how it looks, and no one has seen it before.</p>
			<p>Growing up, I always had a passion for art. I began creating visual art when I was 4 or 5, following anime drawing tutorials and playing cute flash games on the computer. I started loving Sonic, and soon, that would become all I wanted to draw. In school, at home, at any chance I had, I would draw. I continue this everyday until I was around 14 or 15, converting to a more semi-realistic and then cartoony style, then I began hitting blockages. During this time, I was stuck at home due to the pandemic in 2020, and my change in environments also resulted in a change of habits. I would draw much less around this time, but begin to create music in web apps like Soundtrap, until graduating to a more full DAW- Bitwig Studio. I began creating a mix of hiphop, rnb, and pop, all lost to time. Inspired by spacey and digital sounds from the early Soundcloud era that continue to influence me to this day. I made a lot of beats in 2023, but I would repeat this pattern of getting blocked and obsesseive, now they are all just stems.</p>
			<br><p>Now, I am getting back to creating things I like and want to see. I am drawing cute girls again and beginning to learn songwriting to finish my songs using my own voice. I also have begun dabbling in game creation and development, and excited to see where that takes me. This act of crafting my own world just feels so right to me. This site was made for that, but also to keep myself on track and motivate myself to keep trying. I've done this so many times, restarting and obsessing and losing sight of what I really want. Letting my inhibitions get in the way of something great. 2026 is about creating new patterns that help me feel fulfilled and killing that scared part in me. Because whenever I am not creating, I feel like there is a invisble thing draining me. Eating me alive. And I cannot live with that feeling forever.</p>
			<br><p><i>I hope I can keep my own word this time.</i></p>
		</div>
	</div>
</Layout>


