---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Collection" description="Mtchtmy's links, resources, homies.">
	<h2>Collection</h2>
	<br>
	<section>
		<h3>Buttons</h3>
	</section>
</Layout>

<style>
	.button {

	}
</style>