---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";

const c = import.meta.glob<{ default: ImageMetadata }>("../assets/gifs/*", { 
  eager: true 
});
const collection = Object.values(c).map(module => module.default);
---
<Layout title="Collection" description="Mtchtmy's links, resources, homies.">
    <section class="text-center">
        {collection.map((c) => (<Image src={c} alt="collection item" loading="lazy" class='inline'/>))}
    </section>
</Layout>