---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Commissions" description="C">
	<section>
		<ul style="list-style-type: circle;">
			<h3>♡ Payment ♡</h3>
			<li>PayPal, upfront only. US Dollars.</li>
			<li>This is to build report, as well as avoid scams.</li>
			<li>Prices are current low, as I am new to commissions.</li>
			<li>Refunds are ONLY allowed if the commission has not been started, or unable to be finished.</li>
			<li>I reserved the right to commission for any reason. Terms of service may be updated over time.</li>
		</ul>
	</section>
	<section>
		<ul style="list-style-type: circle;">
			<h3>♡ Rights ♡</h3>
			<li>I retain the rights to my work.</li>
			<li>It may not be used for commercial purposes.</li>
			<li>You may post the artwork anywhere with credit.</li>
			<li>You may not claim it as your own, use with AI/NFT, crypto, or future inventions in the space.</li>
		</ul>
	</section>
	<section>
		<ul style="list-style-type: circle;">
			<h3>♡ Proccess ♡</h3>
			<li>Up to 3 revisions are allowed during the sketch phase.</li>
			<li>Final work will be delivered digitally in high quality.</li>
			<li>Delivery is based on slot placement.</li>
			<li>Allow 1 week for the finished commission, in relation to slot placement.</li>
			<li>Communication is key, if anything comes up, let me know. I will do the same.</li>
		</ul>
	</section>
	<section style="text-align: center;">
		<p>୨ৎ TOS subject to change. ୨ৎ</p>
	</section>
</Layout>

