---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Gallery">
	<section class="text-left">
		<ul>
			<li><a href="/gallery/photos/">Photos</a></li>
			<!-- <li><a href="/gallery/videos/">Videos</a></li> -->
			<li><a href="/gallery/artwork/">Artwork</a></li>
			<!-- <li><a href="/gallery/music/">Music</a></li> -->
			<!-- <li><a href="/gallery/games/">Games</a></li> -->
		</ul>
	</section>
</Layout>


