---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Gallery" description="Mtchtmy's photos, videos, and art.">
	<h2>Gallery</h2>
	<br>
	<ul>
		<li><a href="/photos/">Photos</a></li>
		<!-- <li><a href="/videos/">Videos</a></li> -->
		<li><a href="/art/">Art</a></li>
	</ul>
</Layout>

