---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import sprite from '../assets/img/art/sprites/bussy.png';
---
<Layout title="Home" description="Welcome to the dungeon.">
	<section class="text-center">
		<!-- header image -->
		<img src="" alt="">
	</section>	
	<section>
		<!-- outgoing links -->
		<!-- <div><a href="https://commission.mmdungeon.xyz"><img src="" alt="Interested in commissions?"></a></div> -->
		<!-- <div><a href="https://newsletter.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Join the Newsletter: Patreon + Discord community"></a></div> -->
		<div><a href="https://microblog.mmdungeon.xyz/" target="_blank" rel="noopener noreferrer"><img src="" alt="My secret microblog"></a></div>
		<div><a href="https://guestbook.mmdungeon.xyz/" target="_blank" rel="noopener noreferrer"><img src="" alt="Sign the guestbook!"></a></div>
		<div class="fixed -bottom-6 -right-2 w-60">
			<!-- <a href="https://shop.mmdungeon.xyz/" target="_blank" rel="noopener noreferrer"> -->
				<img src={sprite.src} alt="Shop <3">
			<!-- </a> -->
		</div>
		
		<!-- status -->
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
	</section>
</Layout>