---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home" description="Welcome to the Mtchtmy Dungeon.">
	<section class="text-center">
		<p>Welcome to my dungeon, my little corner on the web. A digital time capsule and archive for my life and art. Coded + designed by hand.</p>
	</section>
	<section>
		<div class="update_log">
			<h3>Update Log</h3>
			<ul class="list-disc list-inside">
				<li><b>2/6/26:</b> Website created + deployed.</li>
			</ul>
		</div>
	</section>
</Layout>

