---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import button from '../assets/img/button.gif';
import sprite from '../assets/img/art/sprites/bussy.png';
---
<Layout title="Index" description="Welcome to @mortalmutt's blog, archive, personal site.">
	<section class="text-center">
		<!-- counter -->
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
		
		<!-- links -->
		<div>
			<div class="fixed -bottom-6 -right-2 w-60">
				<!-- <a href="https://tee-zr.com/mortalmuttmerch" target="_blank" rel="noopener noreferrer"> -->
					<img src={sprite.src} alt="Shop Mortalmutt Merch <3">
				<!-- </a> -->
			</div>
			<!-- <div><a href="https://vgen.co/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="Commission Mortalmuut"></a></div> -->
			<!-- <div><a href="https://www.patreon.com/c/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="Join the Mortalmutt Patreon + Discord"></a></div> -->
		</div>
	</section>
</Layout>