---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import welcome from '/src/assets/img/extra/welcome5.gif';
---
<Layout title='Home' description='Welcome to MMdungeon.'>
	<section class="text-center">
		<img src={welcome.src} alt="" class="m-auto">
		<p>Welcome to the dungeon, a blog and project archive. ⋆˙⟡ </p>
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
		<div class="text-left">
			<h3>News</h3>
			<div>
				<h4>Update Log</h4>
				<ul>
					<li><strong>5.21.26: </strong>Links updated, imaged added, added news.</li>
				</ul>
			</div>
		</div>
		<iframe src="https://www3.cbox.ws/box/?boxid=3555384&boxtag=45aUsY" width="100%" height="450" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	
		<div> <a href="https://www.mabsland.com/Adoption.html" target="_blank" rel="noopener noreferrer"><img src="https://www.mabsland.com/Pandas/Censor_NC17a.gif" class="m-auto" alt=""></a> </div>
	</section>
</Layout>