---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Button from '../assets/img/button.png';
---
<Layout title="Home" description="Welcome to the Mtchtmy Dungeon.">
	<section class="text-center">
		<p>Welcome to MMDungeon, my little corner on the web. Coded + designed by hand. <br> <i>Updates the last Friday of every month!</i></p>
		<!-- <Image src={Button} alt="Website button" class="m-auto my-5" /> -->
	</section>
	<section>
		<div>
			<h3>Update Log</h3>
			<ul class="list-disc list-inside">
				<li><b>3/5/26:</b>		Change schedule.</li>
				<li><b>2/19/26:</b>		Add art tab.</li>
				<li><b>2/17/26:</b>		Updated blog layout and urls. Adjust colors.</li>
				<li><b>2/10/26:</b>		Added about, blog, collection, shrines, guestbook.</li>
				<li><b>2/6/26:</b> 		Website created + deployed.</li>
			</ul>
		</div>
	</section>
</Layout>