---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home" description="Welcome to the Mtchtmy Dungeon.">
	<h2>Home</h2>
	<section class="text-center">
		<p>Welcome to Mtchtmy Dungeon!</p>
	</section>
</Layout>

