---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---
<Layout title='Index'>
	<section class="text-center center">
		<!-- image -->

		<!-- enter -->
		<div class="font-display text-2xl">
			<a href="/home/">ENTER</a>
		</div>

	</section>
</Layout>