---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home" description="Welcome to the Mtchtmy Dungeon." sprite='/sprites/index.png'>
	<section class="text-center">
		<p>Welcome to my dungeon, my little corner on the web. A digital time capsule and archive for my life and art. Coded + designed by hand. <i>Updates every Friday!</i> <i class="fas fa-heart"></i></p>
		<p>#mymcore</p>
		<img src="/button.png" alt="" class="m-auto my-5">
	</section>
	<section>
		<div class="indexLog">
			<h3>Update Log</h3>
			<ul class="list-disc list-inside">
				<li><b>2/10/26:</b>		Added about, blog, collection, guestbook.</li>
				<li><b>2/6/26:</b> 		Website created + deployed.</li>
			</ul>
		</div>
	</section>
</Layout>