---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---
<Layout title='Index'>
	<section class="text-center center">
		<!-- image -->

		<!-- enter -->
		<a href="/home/" class="font-display text-3xl">Enter</a>
	</section>
</Layout>