---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import button from '../assets/img/button.gif';
import sprite from '../assets/img/art/sprites/bussy.png';
---
<Layout title="Home" description="Welcome to @mortalmutt's blog, archive, and personal site: the dungeon.">
	<section class="text-center">
		
		<!--  -->
		<img src="" alt="">
		<p class="text-sm">This site contains nudity and mature content. <br> Unauthorized reproduction is prohibited.  </p>
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
		
		<!-- links -->
		<div>
			<div class="fixed -bottom-6 -right-2 w-60">
				<!-- <a href="https://shop.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"> -->
					<img src={sprite.src} alt="Shop <3">
				<!-- </a> -->
			</div>
			<!-- <div><a href="https://commission.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Commission me"></a></div> -->
			<!-- <div><a href="https://patreon.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Join my Patreon + Discord"></a></div> -->
		</div>

	</section>
</Layout>