---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import welcome from '/src/assets/img/extra/welcome5.gif';
---
<Layout title='Home' description='Welcome to MMdungeon.'>
	<section class="text-center">

		<!-- header -->
		<img src={welcome.src} alt="" class="m-auto">
		<p>Welcome to the dungeon, a blog and project archive. ⋆˙⟡ </p>
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>

		<!-- outgoing -->
		 <div>
			<!-- <div><a href="https://shop.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Shop <3"></a></div> -->
			<!-- <div><a href="https://commission.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Commission me"></a></div> -->
			<!-- <div><a href="https://patreon.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Join my Patreon + Discord"></a></div> -->
		</div>

		<!-- news -->
		<div class="text-left">
			<h3>News</h3>
			<div>
				<h4>Update Log</h4>
				<ul>
					<li><strong>5.21.26: </strong>Links updated, imaged added, added news.</li>
				</ul>
			</div>
		</div>

	</section>
</Layout>