---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---
<Layout title='Index'>
	<style>
		body {
			height: 100dvh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
		}
	</style>
	<section class="text-center">
		<!-- image -->

		<!-- enter -->
		<a href="/home/" class="font-display text-3xl">Enter</a>
	</section>
</Layout>