---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Button from '../assets/img/button.gif';
---
<Layout title="Home" description="Welcome to the dungeon.">
	<section class="text-center">
		<p>Welcome to the dungeon, an achive and artist blog.</p>
		<p><i>Updates regularly;</i> leave a <a href="https://guestbook.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"> message</a>!</p>
		<Image src={Button} alt="Website button" class="m-auto" />
		<!-- FC2 Counter  Starts here -->
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
		<!-- FC2 Counter  Ends here -->
	</section>
	<section>
		<div>
			<h3>Update Log</h3>
			<ul class="list-disc list-inside">
				<li><b>4/1/26:</b>		Renew blog.</li>
				<li><b>3/5/26:</b>		Change schedule. Add video + photo tab.</li>
				<li><b>2/19/26:</b>		Add art tab.</li>
				<li><b>2/17/26:</b>		Updated blog layout and urls. Adjust colors.</li>
				<li><b>2/10/26:</b>		Added about, blog, collection, shrines, guestbook.</li>
				<li><b>2/6/26:</b> 		Website created + deployed.</li>
			</ul>
		</div>
		<div class="m-5">
			<!-- © wdisseny --><div id="contain_moon" style="text-align:center;"><div style="font-weight:bold"></div><div style="padding:18px;filter:drop-shadow(0 0 18px hsl(298,100%,28%))"></div><div></div><div style="font-size:small"></div></div><script>(function(){var d=new Date().getDate();var m=document.querySelectorAll("#contain_moon div");var a=new XMLHttpRequest();var url="https://www.icalendar37.net/lunar/api/?lang=en&month="+(new Date().getMonth()+1)+"&year="+(new Date().getFullYear())+"&size=60&lightColor=rgb(211,183,227)&shadeColor=rgb(0,0,0)&LDZ="+new Date(new Date().getFullYear(),new Date().getMonth(),1)/1000+"";m[1].style.height="60px";a.onreadystatechange=function(){if(a.readyState==4&&a.status==200){var b=JSON.parse(a.responseText);m[1].innerHTML=b.phase[d].svg;if(typeof moon_widget_loaded=="function")moon_widget_loaded(b)}};a.open("GET",url,true);a.send()})()</script>
		</div>
		<div>
			<img src="" alt="">
		</div>
	</section>
</Layout>