---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import button from '../assets/img/button.gif';
import sprite from '../assets/img/art/sprites/bussy.png';
---
<Layout title="Home" description="Welcome to the dungeon.">
	<section class="text-center">
		
		<!-- outgoing links -->
		<div>
			<div><a href="http://guestbook.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Sign my guestbook"></a></div>
			<div><a href="http://microblog.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="My secret microblog"></a></div>
			<!-- <div><a href="http://commission.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Commission me"></a></div> -->
			<!-- <div><a href="http://newsletter.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"><img src="" alt="Join my Patreon + Discord"></a></div> -->
			<div class="fixed -bottom-6 -right-2 w-60">
				<!-- <a href="https://shop.mmdungeon.xyz/" target="_blank" rel="noopener noreferrer"> -->
					<img src={sprite.src} alt="Shop <3">
				<!-- </a> -->
			</div>
		</div>
		
		<!-- status -->
		<script type="text/javascript" src="//counter1.fc2.com/counter.php?id=40502263&main=1"></script><noscript><img src="//counter1.fc2.com/counter_img.php?id=40502263&main=1" /></noscript>
        <div id="statuscafe" class="py-3"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=mortalmutt" defer></script>
		
		<!-- button -->
		<Image src={button} alt="Website button" class="m-auto" />
	</section>
</Layout>