---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";

const photo_folder = import.meta.glob<{ default: ImageMetadata }>("../assets/img/photos/*", { eager: true });
const photos = Object.values(photo_folder).map(module => module.default);
---
<Layout title="Photos" description="My photos.">
	<section class="text-left">
		<section class="grid grid-cols-2 md:grid-cols-4">
			{photos.map((p) => (<Image src={p} alt="photo" loading="lazy"/>))}
		</section>
	</section>
</Layout>


