---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";

const photo_folder = import.meta.glob<{ default: ImageMetadata }>("../assets/img/photos/*", { eager: true });
const photos = Object.values(photo_folder).map(module => module.default);

const drawings_folder = import.meta.glob<{ default: ImageMetadata }>("../assets/img/art/drawings/*", { eager: true });
const drawings = Object.values(drawings_folder).map(module => module.default);
---
<Layout title="Scenes">
	
	<!-- selector -->
	<section class="flex gap-2 mb-4 justify-center">
		<button onclick="showTab('photos')"><i class="fa-solid fa-image"></i></button>
		<button onclick="showTab('drawings')"><i class="fa-solid fa-video"></i></button>
		<button onclick="showTab('art')"><i class="fa-solid fa-brush"></i></button>
		<button onclick="showTab('music')"><i class="fa-solid fa-music"></i></button>
		<button onclick="showTab('games')"><i class="fa-solid fa-gamepad"></i></button>
	</section>
	
	<!-- photos -->
	<section class="grid grid-cols-4" id="photos">
		{photos.map((p) => (<Image src={p} alt="photo" loading="lazy"/>))}
	</section>

	<!-- drawings -->
	<section class="grid grid-cols-4 hidden" id="drawings">
        {drawings.map((d) => (<Image src={d} alt="drawing image" loading="lazy"/>))}
    </section>

	<!-- videos -->
	<section class="hidden">
		<div><a href="https://www.youtube.com/@mortalmutt" target="_blank" rel="noopener noreferrer">MORTALMUTT ON YOUTUBE</a></div>
	</section>
	
	<!-- music -->
	<section class="hidden">
		<div><a href="https://mortalmutt.bandcamp.com/" target="_blank" rel="noopener noreferrer">MORTALMUTT ON BANDCAMP</a></div>
	</section>

	<!-- games -->
	<section class="hidden">
		<div><a href="https://mortalmutt.itch.io/" target="_blank" rel="noopener noreferrer">MORTALMUTT ON ITCH.IO</a></div>
	</section>

</Layout>


