---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Shrines" description="Mtchtmy's shrine." sprite=''>
	<section>
		<ul>
			<li class="flex items-center"><img src="/favicon/kitty.gif" alt=""> <a href="/alt/shrines/gf/">Girlfriend Shrine</a></li>
		</ul>
	</section>
</Layout>


