---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Shrines" description="Mtchtmy's shrine." sprite=''>
	<section>
		<ul>
			<li><img src="" alt=""> <a href="/alt/Caz">Girlfriend Shrine</a></li>
		</ul>
	</section>
</Layout>


