---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---
<Layout title="Shrines" description="Mtchtmy's shrine.">
	<section>
		<ul>
			<li class="flex items-center"><a class="alt_link" href="/alt/shrines/gf/">Girlfriend Shrine</a></li>
		</ul>
	</section>
</Layout>


