---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Shrines" description="My shrines.">
	<section>
		<ul>
			<li class="flex items-center"><a class="alt_link" href="/shrines/gf/">Girlfriend Shrine</a></li>
		</ul>
	</section>
</Layout>


