---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Work" description="My art, videos, music, and games.">
	<section class="text-left">
		<ul>
			<li><a href="/work/art/">Art</a></li>
			<!-- <li><a href="/work/videos/">Videos</a></li> -->
			<!-- <li><a href="/work/music/">Music</a></li> -->
			<!-- <li><a href="/work/games/">Games</a></li> -->
		</ul>
	</section>
</Layout>


