<aside class="flex-1/5 p-3 hidden md:block border-r">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/about/">About</a></li>
        	<li><a href="/blog/">Blog</a></li>
        	<!-- <li><a href="/photos/">Photos</a></li> -->
        	<!-- <li><a href="https://www.youtube.com/@mtchtmy">Videos</a></li> -->
        	<!-- <li><a href="/art/">Art</a></li> -->
        	<!-- <li><a href="https://soundcloud.com/mtchtmy">Music</a></li> -->
        	<!-- <li><a href="https://mtchtmy.itch.io/">Games</a></li> -->
        	<li><a href="/stuff/">Stuff</a></li>
        	<li><a href="https://mmguestbook.atabook.org/" target="_blank" rel="noopener noreferrer">Guestbook</a></li>
        	<!-- <li><a href="https://vgen.co/mtchtmy" target="_blank" rel="noopener noreferrer">Commission</a></li> -->
        	<!-- <li><a href="https://www.patreon.com/cw/mtchtmy" target="_blank" rel="noopener noreferrer">Join</a></li> -->
    	</ul>
	</nav>
</aside>
