---
import new_page from '/src/assets/img/extra/new19.gif';
---
<aside class="flex-1/5 text-xl text-left">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/about/">About</a></li>
        	<li><a href="/blog/">Blog</a></li>
        	<li><a href="/photos/">Photos</a></li>
        	<li><a href="/art/">Art</a></li>
        	<!-- <li><a href="/videos/">Videos</a></li> -->
        	<!-- <li><a href="/music/">Music</a></li> -->
        	<!-- <li><a href="/games/">Games</a></li> -->
        	<li><a href="/collection/">Collection</a></li>
    	</ul>
	</nav>
</aside>
