---
import new_page from '/src/assets/img/extra/new19.gif';
import { Image } from 'astro:assets';
import button from '../../assets/img/button.gif';
---
<aside class="flex-1/5 text-xl text-left">
	<nav>
    	<ul>
        	<li><a href="/">Index</a></li>
        	<li><a href="/webpup/">Webpup</a></li>
        	<li><a href="/booblog/">Boo-blog</a></li>
        	<li><a href="/scenes/">Scenes</a></li>
        	<li><a href="/toybox/">Toybox</a></li>
    	</ul>
	</nav>
	<!-- button -->
	<a href="https://mmdungeon.atabook.org/" target="_blank" rel="noopener noreferrer">
		<Image src={button} alt="Mortalmutt button" class="m-auto" />
	</a>
	<!-- status -->
    <div id="statuscafe" class="py-3 text-xs"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=mortalmutt" defer></script>
</aside>
