<aside class="flex-1/5 p-3 text-xl font-subtitle">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/about/">About</a></li>
        	<li><a href="/blog/">Blog</a></li>
        	<!-- <li><a href="/photos/">Photos</a></li> -->
        	<!-- <li><a href="https://www.youtube.com/@mtchtmy" target="_blank" rel="noopener noreferrer">Videos</a></li> -->
        	<!-- <li><a href="/art/">Art</a></li> -->
        	<!-- <li><a href="https://soundcloud.com/mtchtmy" target="_blank" rel="noopener noreferrer">Music</a></li> -->
        	<!-- <li><a href="https://mtchtmy.itch.io/" target="_blank" rel="noopener noreferrer">Games</a></li> -->
        	<li><a href="/shrines/">Shrines</a></li>
        	<li><a href="/collection/">Collection</a></li>
        	<li><a href="https://mmguestbook.atabook.org/" target="_blank" rel="noopener noreferrer">Guestbook</a></li>
        	<!-- <li><a href="https://vgen.co/mtchtmy" target="_blank" rel="noopener noreferrer">Commission</a></li> -->
        	<!-- <li><a href="https://www.patreon.com/cw/mtchtmy" target="_blank" rel="noopener noreferrer">Join</a></li> -->
    	</ul>
	</nav>
</aside>
