---
import new_page from '/src/assets/img/extra/new19.gif';
import { Image } from 'astro:assets';
import button from '../../assets/img/button.gif';
---
<aside class="flex-1/5 text-xl text-left">
	<nav>
    	<ul>
        	<li><a href="/about/">About</a></li>
        	<li class="flex items-center"><a href="/gallery/">Gallery</a> <img src={new_page.src} alt=""> </li>
        	<!-- <li class="flex items-center"><a href="/blog/">Blog</a> <img src={new_page.src} alt=""> </li> -->
        	<li class="flex items-center"><a href="/collection/">Collection</a> <img src={new_page.src} alt=""> </li>
    	</ul>
	</nav>
	<!-- button -->
	<a href="https://guestbook.mmdungeon.xyz" target="_blank" rel="noopener noreferrer"> <Image src={button} alt="button" class="m-auto" /> </a>
	<!-- status -->
    <div id="statuscafe" class="py-3 text-xs"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=mortalmutt" defer></script>
</aside>
