---
import new_page from '/src/assets/img/extra/new19.gif';
---
<aside class="flex-1/5 text-xl text-left">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/info/">Info</a></li>
        	<li><a href="/work/">Work</a></li>
            <li class="flex items-center"><a href="/collection/">Collection</a> <img src={new_page.src} alt=""> </li>
    	</ul>
	</nav>
</aside>
