<aside class="flex-1/5 p-3 text-xl font-subtitle">
	<nav>
    	<ul>
        	<li><a href="/">Home</a></li>
        	<li><a href="/about/">About</a></li>
        	<li><a href="/blog/">Blog</a></li>
        	<li><a href="/photos/">Photos</a></li>
        	<li><a href="https://videos.mayasdungeon.com" target="_blank" rel="noopener noreferrer">Videos</a></li>
        	<li><a href="/art/">Art</a></li>
        	<!-- <li><a href="https://music.mayasdungeon.com" target="_blank" rel="noopener noreferrer">Music</a></li> -->
        	<!-- <li><a href="https://games.mayasdungeon.com" target="_blank" rel="noopener noreferrer">Games</a></li> -->
        	<li><a href="/shrines/">Shrines</a></li>
        	<li><a href="/collection/">Collection</a></li>
        	<li><a href="https://guestbook.mayasdungeon.com" target="_blank" rel="noopener noreferrer">Guestbook</a></li>
        	<!-- <li><a href="https://commission.mayasdungeon.com" target="_blank" rel="noopener noreferrer">Commission</a></li> -->
        	<!-- <li><a href="https://join.mayasdungeon.com" target="_blank" rel="noopener noreferrer">Join</a></li> -->
    	</ul>
	</nav>
</aside>
