---
import new_page from '/src/assets/img/extra/new19.gif';
import { Image } from 'astro:assets';
import button from '../../assets/img/button.gif';
---
<aside class="flex-1/5 text-xl text-left text-accent">
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/bio/">Bio</a></li>
			<li class="collapsible">
				<input type="checkbox" id="work">
				<label for="work">Work</label>	
				<ul class="sub-menu">
					<li><a href="/work/art/">Art</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<Image src={button} alt="button" class="m-auto" />
    <div id="statuscafe" class="py-3 text-fg text-xs"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=mortalmutt" defer></script>
</aside>

<style>
/* Hide the checkboxes */
.collapsible input {
    display: none;
}

/* Hide the sub-menu by default */
.sub-menu {
    display: none;
    padding-left: 20px;
}

/* Show sub-menu when checkbox is checked */
.collapsible input:checked ~ .sub-menu {
    display: block;
}

/* Style the labels as clickable headers */
.collapsible label {
    cursor: pointer;
    display: block;
}

</style>