---

---
<footer class="p-3 text-center">
    <p><small>Copyright 2026 © Madmadmaya. Reproduction prohibited. (18+) <br> Last Updated: 4-28-26</small></p>
    <ul class="flex gap-3 list-none pl-0 justify-center py-2">
        <li><a href="https://social.mmdungeon.xyz/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="mailto:contact@mmdungeon.xyz"><i class="fas fa-envelope"></i></a></li>
    </ul>
</footer>