---

---
<footer class="p-3 text-center border-t border-bean">
    <small>
        2026 - ? &copy; Mtchtmy Dungeon. All rights reserved.
        <br> <i><b>~ 777 ~</b></i>
    </small>
    <ul class="flex gap-3 list-none pl-0 justify-center py-4">
        <li><a href="https://www.instagram.com/mtchtmy" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.tiktok.com/@mtchtmy" target="_blank" rel="noopener noreferrer"><i class="fab fa-tiktok"></i></a></li>
    </ul>
</footer>