---

---
<footer class="p-3 text-center">
    <small>2026 &copy; Madmadmaya. All rights reserved.</small>
    <ul class="flex gap-3 list-none pl-0 justify-center py-4">
        <li><a href="https://social.mayasdungeon.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <li><a href="mailto:contact@mayasdungeon.com"><i class="fas fa-envelope"></i></a></li>
    </ul>
</footer>