---
import Layout from "../../../layouts/Layout.astro";
import Back from "../../../layouts/components/Back.astro";
import { Image } from 'astro:assets';
import welcome from '/src/assets/img/extra/textpassword.gif';
---
<Layout title="<3 Lock">
	<style>
		body {
			height: 100dvh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
		}
	</style>
	<section class="text-center">
		<img src={welcome.src} alt="" class="m-auto">		
		<div class="my-4">
			<p>Enter password to unlock:</p>
			<input class="m-5 border-b" type="password" id="pwd">
			<br> <button class="m-5" onclick="check()">Submit</button>
			<p id="error"></p>
		</div>
		<script is:inline>
			function check() {
				var pwd = document.getElementById('pwd').value;
				if (pwd == 'lol') {
					window.location.href = '../';
				} else {
					document.getElementById('error').innerHTML = 'Wrong password';
				}
			}
		</script>
	</section>
	<Back link="/about/"/>
</Layout>

