---
interface Props {
  blogTitle: string;
  blogDate: string;
}
const { blogTitle, blogDate } = Astro.props;
---
<div class="blogEntry border border-bean text-bean bg-champagne p-5">
	<div class="blogTitle border-b border-bean flex items-center justify-between mb-5">
        <h3>{blogTitle}</h3>
        <small>{blogDate}</small>
    </div>
    <div class="blogContent">
		<p><slot /></p>
    </div>
</div>