---
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout title={frontmatter.blogTitle} description={frontmatter.blogDate}>
	<div class="border-fg p-5 my-7 text-left">
		<p><slot /></p>
	</div>
	<div class="my-6">
		<a href="/other/blog/">return</a>
	</div>
</Layout>