<footer class="p-3 text-center border-t">
    <small>
        2026 - ? &copy; Mtchtmy Dungeon. All rights reserved.
    </small>
    <p><i>~ 777 ~</i></p>
    <ul class="flex gap-3 list-none pl-0 justify-center">
        <li><a href="http://" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
        <!-- <li><a href="https://www.youtube.com/@mtchtmy" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a></li> -->
        <li><a href="https://soundcloud.com/mtchtmy" target="_blank" rel="noopener noreferrer"><i class="fab fa-soundcloud"></i></a></li>
        <!-- <li><a href="https://mtchtmy.itch.io/" target="_blank" rel="noopener noreferrer"><i class="fab fa-itch-io"></i></a></li> -->
    </ul>
</footer>