<header class="flex justify-between border-b p-3 items-center">
    <div class="flex gap-4 items-center">
        <button><i class="fas fa-bars"></i></button>
        <h1 class="text-2xl"><a href="/">Mtchtmy</a></h1>
    </div>
    <button>SHOP</button>
</header>
