---
import Layout from '../../layouts/Layout.astro';
import { Image } from "astro:assets";
---
<Layout title="Characters">
	<section>
		<div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
            <div><a href="https://toyhou.se/mortalmutt" target="_blank" rel="noopener noreferrer"><img src="" alt="my oc"></a></div>
        </div>
	</section>
</Layout>


