---
import Layout from '../../layouts/Layout.astro';
import { Image } from "astro:assets";
---
<Layout title="Games">
	<section>
		<div><a href="https://mortalmutt.itch.io/" target="_blank" rel="noopener noreferrer">PLAY ON ITCH.IO</a></div>
	</section>
</Layout>


