---
import Layout from '../../layouts/Layout.astro';
import { Image } from "astro:assets";
---
<Layout title="Videos">
	<section>
		<div>
			<p><a href="https://www.youtube.com/@mortalmutt" target="_blank" rel="noopener noreferrer">WATCH ON YOUTUBE</a></p>
		</div>
	</section>
</Layout>


