/* Import */
@import "tailwindcss";

/* Font Face */
@font-face {
    font-family: 'Rosaline';
    src: url('/src/assets/lib/fonts/Rosaline_Complete/Fonts/WEB/fonts/Rosaline-Regular.woff');
}

/* Theme */
@theme {
    --font-display: "Rosaline";
    --color-primary: #070604;
    --color-secondary: #ebe4dc;
    --color-tertiary: #7d7254;
    --color-dim: #a5998d;
}

/* Elements */
html {
    @apply scroll-smooth;
}
body {
    @apply text-base font-serif bg-primary text-secondary;
} 
section {
    @apply py-4;
}
main {
    @apply relative;
}
h1 {
    @apply text-5xl mb-6 font-display;
}
h2 {
    @apply text-4xl mb-4 text-center text-tertiary;
}
h3 {
    @apply text-3xl mb-4;
}
p {
    @apply text-base mb-1;
}
a {
    @apply text-tertiary;
}
small {
    @apply text-dim;
}
img {
    @apply p-2;
}
