/* Pink Paw Print - https://www.cursors-4u.com/cursor/pink-paw-print */
* { cursor: url('https://cdn.cursors-4u.net/previews/pink-paw-print-820c6758-32.webp') 32 32, auto !important; }

/* Import */
@import "tailwindcss";

/* Font Face */
@font-face {
    font-family: display;
    src: url('/src/assets/lib/fonts/Curely-Free Typeface.ttf');
}
@font-face {
    font-family: display2;
    src: url('/src/assets/lib/fonts/ArtDystopia II.otf');
}
@font-face {
    font-family: display3;
    src: url('/src/assets/lib/fonts/Unutterable-Regular.ttf');
}


/* Theme */
@theme {
    --font-display: display3;
    --color-bg: #000;
    --color-fg: #fff;
    --color-accent: #d5a9c4;
    --color-dim: #584663;
}

/* Selection */
::selection {
    background: var(--color-dim);
    color: var(--color-fg);
}

/* Elements */
html {
    @apply scroll-smooth px-5;
    background-image: url("../src/assets/img/header.jpg");
}
body {
    @apply text-base/6 font-sans bg-bg text-fg text-center font-mono m-auto h-full;
    max-width: 1000px;
}
header, aside, nav, main, footer {
    @apply p-3;
}
h1 {
    @apply text-5xl my-1 font-display tracking-widest;
}
h2 {
    @apply text-4xl mb-4 text-accent text-center;
}
h3 {
    @apply text-3xl mb-4 text-accent;
}
h4 {
    @apply text-xl mb-4 text-accent;
}
p {
    @apply my-3;
}
a {
    @apply text-accent;
}
button {
    @apply px-2 py-1 text-fg hover:text-accent;
}
small {
    @apply text-dim;
}
details, summary {
    @apply py-1;
}
img {
    @apply p-2;
}