/* Import */
@import "tailwindcss";

/* Font Face */
@font-face {
    font-family: 'Rosaline';
    src: url('/src/assets/lib/fonts/Rosaline_Complete/Fonts/WEB/fonts/Rosaline-Regular.woff');
}

/* Theme */
@theme {
    --font-title: "Rosaline";
    --color-espresso: #080808;
    --color-champagne: #fbf0e3;
    --color-bean: #554340;
}

/* Elements */
html {
    @apply scroll-smooth;
}
body {
    @apply text-base font-serif text-champagne bg-espresso;
} 
section {
    @apply py-4;
}
main {
    @apply relative;
}
h1 {
    @apply text-6xl mb-6 font-title;
}
h2 {
    @apply text-4xl mb-4 text-center;
}
h3 {
    @apply text-2xl mb-4;
}
p {
    @apply text-base mb-1;
}
small {
    @apply text-bean;
}
img {
    @apply p-2;
}
