---
import '/src/styles/global.css';
import Header from './elements/Header.astro';
import Aside from './elements/Aside.astro';
import Main from './elements/Main.astro';
import Footer from './elements/Footer.astro';

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<!doctype html>
<html lang="en">
	<head>
		<!-- links -->
		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/img/favicon.gif" />
		<!-- meta -->
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="Mtchtmy, mmdungeon" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<!-- Title -->
		<title>Mtchtmy | {title}</title>
	</head>
	<body style="max-width: 1000px;">
		<Header/>
		<div class="flex">
			<Aside/>
			<Main>
				<h2>{title}</h2>
				<slot />
			</Main>
		</div>
		<Footer/>
	</body>
</html>