---
import Layout from '../layouts/Layout.astro';
const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
    <section class="my-7 mx-5">
        <slot />
    </section>
</Layout>