---
import Layout from '../layouts/Layout.astro';
import Back from "../layouts/components/Back.astro";
const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
    <h2>{frontmatter.title}</h2>
    <hr>
    <section class="my-7 mx-5">
        <slot />
    </section> 
    <hr>
	<Back link="/blog/"/>
</Layout>