---
import Layout from '../layouts/Layout.astro';
const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title} description={frontmatter.description}>
    <section class="text-left">
        <slot />
    </section>
    <section class="my-5">
        <a href="/bio/journal/">return</a>
    </section>
</Layout>